* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #83a4d4;  /* fallback for old browsers */
    background: linear-gradient(to right, #b6fbff, #83a4d4);

    min-height: 100vh;

    animation: animate-gradient 4s infinite alternate;
}

@keyframes animate-gradient {
    from {
        background: linear-gradient(to right, var(--dark-secondary), var(--light-primary));
    }

    to {
        --dark-secondary: #78ffd6;
        --light-primary: #a8ff78;

        background: linear-gradient(to right, var(--dark-secondary), var(--light-primary));
    }
}

.header {
    text-align: center;
    margin: 2rem 0;
    font-size: 1.75rem;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__group {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
}

.form__group__submit {
    border-radius: 0 4px 4px 0;
}

.form__group:focus-within {
    box-shadow: 0 0 20px #4299e1;
}

.form__group__input,
.form__group__submit {
    border: none;
    padding: .75rem;
    font-size: 1.1rem;
    background-color: #fff;
}

.form__group__input {
    outline: none;
}

.form__group__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: background-color 120ms ease-in-out;
}

.form__group__submit:hover {
    background-color: #cbd5e0;
}

.todos-container {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todos-list {
    min-width: 15rem;
    list-style: none;
}

.todo {
    margin: .5rem 0;
    background-color: #fff;
    font-size: 1.25rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition:
        opacity 125ms ease-in-out,
        text-decoration 125ms ease-in-out;
}

.todo__item {
    flex-grow: 1;
    padding: 0 .75rem;
}

.todo__completed-btn,
.todo__trash-btn {
    background-color: transparent;
    border: none;
    padding: .5rem;
    cursor: pointer;
    opacity: .5;
}

.todo__completed-btn:hover,
.todo__trash-btn:hover {
    opacity: 1;
}

.completed {
    text-decoration: line-through;
    opacity: .5;
}

.fall {
    animation: falling 300ms ease-in-out forwards;
}

@keyframes falling {
    from {
        transform: translateY(0) rotateZ(0deg);
        opacity: 1;
    }

    to {
        transform: translateY(6rem) rotateZ(20deg);
        opacity: 0;
    }
}